<ion-view ng-controller="LoginController" title="OneAll Social Login">
    <ion-content>
		<div ng-show="!oneall_subdomain.length">
			<div class="item assertive">
				Please enter your OneAll subdomain in <strong>app.js</strong>
			</div>		
		</div>    
        <div ng-show="oneall_subdomain.length">
            <div class="padding">
                <button ng-click="social_login('facebook')" class="button button-large button-full button-positive">
					Login with Facebook
                </button>
				<button ng-click="social_login('google')" class="button button-large button-full button-assertive">
                    Login with Google
                </button>
				<button ng-click="social_login('twitter')" class="button button-large button-full button-calm">
                    Login with Twitter
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
